page-home {
    .comp-slides {
        height: 70px;
        margin: 20px 0;
        // border: 1px solid red;
        ion-slide {
            cursor: pointer;
        }
        .swiper-slide { 
            h1 {
                font-size: 1.1rem !important;
                margin: 10px 0 0;
            }
            ion-icon {
                font-size: 3rem;
            }
        }
    }

    .white-bg-slide {
        border-radius: 5px;
        background: #fff;
    }
    // .swiper-slide {
    //     width: 150px !important;
    // }
}
