// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
    background: #f2f2f2;
}

.button {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
}

.focus-outline button:focus, .focus-outline [ion-button]:focus {
    border-color: transparent;
    outline: 0 solid #51a7e8;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.focus-outline :focus {
    outline: none;
    outline-offset: 0;
}

.label-md-primary, .item-input .label-md-primary, .item-select .label-md-primary, .item-datetime .label-md-primary {
    color: #000;
}

.item-input-has-focus .label-md[floating] {
    color: #000;
}

.toast-wrapper {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #32db64 !important;
    margin-top: 20px !important;
}

.toast-md .toast-message {
    color: #020202 !important;
}

.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: #db9884;
  -webkit-box-shadow: inset 0 -1px 0 0 #db9884;
  box-shadow: inset 0 -1px 0 0 #db9884;
}

ion-icon {
    color: #fc6533 !important;
}

.icon-md-primary {
    color: #e0400f !important;
}

.tabs-md .tab-button-text {
    color: #000;
}

ion-content {
    background: color($colors, greyLight) !important;
}

.ion-md-menu:before, .ion-ios-menu:before {
    color: #fff;
}

.back-button .back-button-icon {
    color: #fff !important;
}