page-speakerdetails {
    .speaker-details {
        img {
            height: 120px;
        }
        p {
            line-height: 25px;
        }
        .social-links {
            a {
                margin: 0 15px;
            }
        }
    }
}
